.text-blue {
    color: #0b46ae !important;
    margin-bottom: 5px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}


.buy-plans {
    margin: 0px 0px;
    padding: 0px;
    border: solid 1px #e2e2e2;
    border-radius: 10px;
    transition: 0.5s;
}

.buy-plans h5 {
    background: #e2e2e2;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
}

.buy-plans:hover,
.list-item:hover {
    box-shadow: 0px 0px 10px #7c7c7c;
}


.white-bg {
    background: #fff;
    border: solid 1px #ddd;
}

.plans-data {
    padding: 0px 1px;
    min-height: 34px;
}

.plans-data p,
.plans-data h6 {
    margin-bottom: 0px;
    padding: 8px 15px;
}

.plans-data h6 {
    font-size: 16px !important;
}

.plans-data h6 {
    margin-bottom: 5px;
    overflow: hidden;
    padding: 0px 15px;
}

.plans-data i {
    font-size: 16px;
}
.text-right {
    text-align: right !important;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left;
}

.bg-gray {
    background-color: #ccc !important;
    padding: 15px;
    border-radius: 6px 6px 0px 0px;
}

.bdr-btm1 {
    border-bottom: solid 1px #e2e2e2
}