<div class="row">
    <div class="col-md-10 text-left">
        <button class="btn btn-primary mr15 btn-sm" (click)="back()"><i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button>
    </div>
</div>
<div class="col-md-12 card-body white-bg mt10">
    <div class="row">
        <div class="col-md-6 mb20" *ngFor='let row of PurchasedPlanDetailsData'>
            <div class="buy-plans clearfix">
                <h5 class="text-center"> {{row.plan_name}} </h5>
                <div class="row">
                <div class="col-md-6  mb10">
                    <div class="plans-data">
                        <p>Plan Purchase Date</p>
                        <h6><b> {{row.purchased_date}} </b></h6>
                    </div>
                </div>
                <div class="col-md-6  mb10">
                    <div class="plans-data">
                        <p>Cost</p>
                        <h6><b><i class="fa fa-rupee-sign"></i> {{row.plan_amount}} </b></h6>
                    </div>
                </div>
            </div>
                <div class="clearfix bdr-btm1"></div>
                <div class="row"> 
                <div class="col-md-6  mb10">
                    <div class="plans-data">
                        <p>Plan Start Date</p>
                        <h6><b> {{row.start_date}} </b></h6>
                    </div>
                </div>
                <div class="col-md-6  mb10">
                    <div class="plans-data">
                        <p>Plan End Date</p>
                        <h6><b> {{row.end_date}} </b></h6>
                    </div>
                </div>
            </div>
                <div class="clearfix bdr-btm1"></div>
                <div class="row">
                <div class="col-md-6  mb10">
                    <div class="plans-data">
                        <p>Plan Validity</p>
                        <h6><b>365 Days</b></h6>
                    </div>
                </div>
                <div class="col-md-6  mb10">
                    <div class="plans-data">
                        <p>Plan Status</p>
                        <h6><b> {{row.plan_status}} </b></h6>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
