.btn-theme-yellow {
    border-radius: 50px !important;
    padding: 6px 16px !important;
    background: #febe40;
    color: #242424 !important;
    font-size: 12px !important;
    border: none;
    outline: none;
    font-weight: 500;
    transition: 0.5s;
    margin-top: 15px;
}

.btn-theme-yellow:hover {
    background: #0b46ae;
    color: #fff !important
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }

  .white-bg {
    background: #fff;
    border: solid 1px #ddd
}

.buy-plans:hover .img {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}

.buy-plans .img {
    left: 0%;
    line-height: 180px;
    text-align: center;
    text-transform: uppercase;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: white;
}

.buy-plans:hover,
.list-item:hover {
    box-shadow: 0px 0px 10px #7c7c7c;
}

.buy-plans {
    margin: 0px 0px;
    padding: 0px;
    border: solid 1px #e2e2e2;
    border-radius: 10px;
    transition: 0.5s
}

.buy-plans h5 {
    background: #e2e2e2;
    padding: 15px;
    border-radius: 10px 10px 0px 0px
}

.plans-data {
    padding: 0px 1px;
    min-height: 34px;
    /*    border-bottom: solid 1px #e2e2e2;*/
}

.plans-data p,
.plans-data h6 {
    margin-bottom: 0px;
    padding: 0px 10px;
}

.plans-data h6 {
    font-size: 16px !important;
}

.plans-data h6 {
    margin-bottom: 5px;
    overflow: hidden;
    padding: 0px 15px
}

.plans-data i {
    font-size: 16px
}

.mt10{
    margin-top: 10px;
}

.mb10{
    margin-bottom: 10px;
}

.mb15{
    margin-bottom: 15px;
}
.bdr-btm {
    border-bottom: solid 1px #ccc
}

.bdr-btm {
    border-bottom: solid 1px #ccc
}