<div class="row">
    <div class="col-md-11"></div>
    <div class="col-md-1">
        <button mat-dialog-close="true" style="padding: 3px 8px 2px;
        line-height: 17px;
        min-width: auto;" class="btn btn-sm btn-info">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </div>
</div>

<div class="col-md-12">

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h6>{{'DASH_BOARD.TRIP_DETAILS_COMPONENT.TRIP_DETAILS' | translate}}</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <nb-card accent="success">
                <!-- <nb-card-header>Front Card Header</nb-card-header> -->
                <nb-card-body>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <p>
                                    {{'DASH_BOARD.TRIP_DETAILS_COMPONENT.VEHICLE_NAME' | translate}}<br><b>-</b>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <p>
                                    {{'DASH_BOARD.TRIP_DETAILS_COMPONENT.VEHICLE_NUMBER' | translate}}<br><b>-</b>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <p>
                                    {{'DASH_BOARD.TRIP_DETAILS_COMPONENT.VEHICLE_TYPE' | translate}}<br><b>-</b>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <p>
                                    {{'DASH_BOARD.TRIP_DETAILS_COMPONENT.SPEED' | translate}}<br><b>-</b>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    {{'DASH_BOARD.TRIP_DETAILS_COMPONENT.LOCATION' | translate}}<br><b>-</b>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <p>
                                    {{'DASH_BOARD.TRIP_DETAILS_COMPONENT.LAST_RECORD' | translate}}<br><b>-</b>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <p>
                                    {{'DASH_BOARD.TRIP_DETAILS_COMPONENT.DRIVER_NAME' | translate}}<br><b>-</b>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <p>
                                    {{'DASH_BOARD.TRIP_DETAILS_COMPONENT.DRIVER_NUMBER' | translate}}<br><b>-</b>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <p>
                                    {{'DASH_BOARD.TRIP_DETAILS_COMPONENT.TRIP_CODE' | translate}}<br><b>-</b>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p>
                                    {{'DASH_BOARD.TRIP_DETAILS_COMPONENT.CUSTOMER' | translate}}<br><b>-</b>
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <p>
                                    {{'DASH_BOARD.TRIP_DETAILS_COMPONENT.ROUTE_NAME' | translate}}<br><b>-</b>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <p>
                                    {{'DASH_BOARD.TRIP_DETAILS_COMPONENT.ETA' | translate}}<br><b>-</b>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <p>
                                    {{'DASH_BOARD.TRIP_DETAILS_COMPONENT.P_ETA' | translate}}<br><b>-</b>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <p>
                                    {{'DASH_BOARD.TRIP_DETAILS_COMPONENT.T_KMS' | translate}}<br><b>-</b>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <p>
                                    {{'DASH_BOARD.TRIP_DETAILS_COMPONENT.T_DAYS' | translate}}<br><b>-</b>
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <p>
                                    {{'DASH_BOARD.TRIP_DETAILS_COMPONENT.TRAVEL_REMAINING' | translate}}<br><b>-</b>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <p>
                                    {{'DASH_BOARD.TRIP_DETAILS_COMPONENT.24_KMS' | translate}}<br><b>-</b>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p>
                                    {{'DASH_BOARD.TRIP_DETAILS_COMPONENT.CURRENT_DATE_TIME' | translate}}<br><b>-</b>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <p>
                                    {{'DASH_BOARD.TRIP_DETAILS_COMPONENT.STATUS' | translate}}<br><b>-</b>
                                </p>
                            </div>

                        </div>
                    </div>
                </nb-card-body>
            </nb-card>

            <!-- <mat-card>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <p>
                                Vehicle Name<br><b>-</b>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <p>
                                Vehicle Name<br><b>-</b>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <p>
                                Vehicle Type<br><b>-</b>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <p>
                                Speed(KMPH)<br><b>-</b>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p>
                                Location<br><b>-</b>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <p>
                                Last Record (D&T)<br><b>-</b>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <p>
                                Driver Name<br><b>-</b>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <p>
                                Driver Number<br><b>-</b>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <p>
                                Trip Code<br><b>-</b>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p>
                                Customer<br><b>-</b>
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <p>
                                Route Name<br><b>-</b>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <p>
                                ETA<br><b>-</b>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <p>
                                P ETA<br><b>-</b>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <p>
                                T KMS<br><b>-</b>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <p>
                                T Days<br><b>-</b>
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <p>
                                Travel Remaining<br><b>-</b>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <p>
                                24 KMS<br><b>-</b>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p>
                                Current Date & Time<br><b>-</b>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <p>
                                Status<br><b>-</b>
                            </p>
                        </div>

                    </div>
                </div>
            </mat-card> -->
        </div>
    </div>
</div>