

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }

  .white-bg {
    background: #fff;
    border: solid 1px #ddd
}


.buy-plans {
    margin: 0px 0px;
    padding: 0px;
    border: solid 1px #e2e2e2;
    border-radius: 10px;
    transition: 0.5s
}

.buy-plans h5 {
    background: #e2e2e2;
    padding: 15px;
    border-radius: 10px 10px 0px 0px
}

.plans-data {
    padding: 0px 1px;
    min-height: 34px;
}

.plans-data p,
.plans-data h6 {
    margin-bottom: 0px;
    padding: 5px 15px;
}

.plans-data h6 {
    font-size: 16px !important;
}

.plans-data h6 {
    margin-bottom: 5px;
    overflow: hidden;
    padding: 5px 15px;
}

.plans-data i {
    font-size: 16px
}

.mt5{
    margin-top: 5px;
}
.mt10{
    margin-top: 10px;
}

.mb10{
    margin-bottom: 10px;
}

.mb15{
    margin-bottom: 15px;
}



.bdr-btm {
    border-bottom: solid 1px #ccc
}

.bdr-btm1 {
    border-bottom: solid 1px #e2e2e2
}




