.mb10 {
    margin-bottom: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.mat-panel-title {
    background-color: aqua;
}

p,b,h3,h4,h5,h6,label,ul,li{
    color:black !important;
  }