<div class="row clearfix">
    <div class="col-md-10 text-left">
        <div class="sample-div">
            <button class="btn btn-primary  btn-sm" nbTooltip="Back" nbTooltipStatus="primary"
                [nbTooltipIcon]="{icon: 'arrow-back-outline', pack: 'eva'}" (click)="back()"><i class="fa fa-arrow-left"
                    aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

<div class="col-md-12 white-bg mt10"> 
<div class="row ">
    <div class="col-md-6 mt10">
        <div class="row bdrcol">
            <div class="col-md-6">
                <div class="wallet-pic pull-left">
                    <img src="assets/images/alert_management/messageimg.jpg" alt="" class="responsive" />
                </div>
            </div>
            <div class="col-md-6 mt10">
                <p><b>100/20</b></p>
                <p><b>{{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.REMAINING_SMS' | translate}}</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 mt10">
        <div class="row bdrcol">
            <div class="col-md-6">
                <div class="wallet-pic pull-left">
                    <img src="assets/images/alert_management/whatsupimg.webp" alt="" class="responsive" />
                </div>
            </div>
            <div class="col-md-6 mt10">
                <p><b>100/20</b></p>
                <p><b>{{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.REMAINING_CHARTS' | translate}}</b></p>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="row mtb10">
            <div class="col-md-9">
                <h5 style="color: blue;">{{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.YOUR_WHATSAPP_CHART_EXPIRING_SOON' | translate}}</h5>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary pull-right">{{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.BUY' | translate}}</button>
            </div>
        </div>
    </div>
           
    <div class="col-md-3">
        <div class="buy-plans">
        <h5 class="text-center">
            {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.DATA_NOT_RECEIVED_FOR_3_HOURS' | translate}}
        </h5>

        <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.WHATS_APP' | translate}} <label class="switch pull-right">
            <input type="checkbox">
            <span class="slider round"></span></label></h6>
    <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.SMS' | translate}} <label class="switch pull-right">
            <input type="checkbox">
            <span class="slider round"></span></label></h6>

    <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.EMAIL' | translate}} <label class="switch pull-right">
            <input type="checkbox">
            <span class="slider round"></span></label></h6>

    <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.NOTIFICATION' | translate}} <label class="switch pull-right">
            <input type="checkbox">
            <span class="slider round"></span></label></h6>
    
            </div>          
    </div>
            <div class="col-md-3">
                <div class="buy-plans">
                <h5 class="text-center">
                    {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.STOPPED_MORE_THAT_3_HOURS' | translate}}
                </h5>

                <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.WHATS_APP' | translate}} <label class="switch pull-right">
                    <input type="checkbox">
                    <span class="slider round"></span></label></h6>
            <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.SMS' | translate}} <label class="switch pull-right">
                    <input type="checkbox">
                    <span class="slider round"></span></label></h6>

            <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.EMAIL' | translate}} <label class="switch pull-right">
                    <input type="checkbox">
                    <span class="slider round"></span></label></h6>

            <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.NOTIFICATION' | translate}} <label class="switch pull-right">
                    <input type="checkbox">
                    <span class="slider round"></span></label></h6>
            
                    </div>          
            </div>
            <div class="col-md-3">
                <div class="buy-plans">
                <h5 class="text-center">
                    {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.LESS_KM_TRAVEL_IN_6_HOURS' | translate}}
                </h5>
     
                <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.WHATS_APP' | translate}} <label class="switch pull-right">
                    <input type="checkbox">
                    <span class="slider round"></span></label></h6>
            <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.SMS' | translate}} <label class="switch pull-right">
                    <input type="checkbox">
                    <span class="slider round"></span></label></h6>

            <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.EMAIL' | translate}} <label class="switch pull-right">
                    <input type="checkbox">
                    <span class="slider round"></span></label></h6>

            <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.NOTIFICATION' | translate}} <label class="switch pull-right">
                    <input type="checkbox">
                    <span class="slider round"></span></label></h6>
            
                    </div>          
            </div>
            <div class="col-md-3">
                <div class="buy-plans">
                <h5 class="text-center">
                    {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.TEMPERATURE_ALERTS' | translate}}
                </h5>

                <h6 class="alerttype"> Whats app <label class="switch pull-right">
                        <input type="checkbox">
                        <span class="slider round"></span></label></h6>
                <h6 class="alerttype"> Sms <label class="switch pull-right">
                        <input type="checkbox">
                        <span class="slider round"></span></label></h6>

                <h6 class="alerttype"> Email <label class="switch pull-right">
                        <input type="checkbox">
                        <span class="slider round"></span></label></h6>

                <h6 class="alerttype"> Notification <label class="switch pull-right">
                        <input type="checkbox">
                        <span class="slider round"></span></label></h6>
            
                    </div>          
            </div>
            <div class="col-md-3">
                <div class="buy-plans">
                <h5 class="text-center">
                    Fuel Alerts 
                </h5>

                <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.WHATS_APP' | translate}} <label class="switch pull-right">
                    <input type="checkbox">
                    <span class="slider round"></span></label></h6>
            <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.SMS' | translate}} <label class="switch pull-right">
                    <input type="checkbox">
                    <span class="slider round"></span></label></h6>

            <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.EMAIL' | translate}} <label class="switch pull-right">
                    <input type="checkbox">
                    <span class="slider round"></span></label></h6>

            <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.NOTIFICATION' | translate}} <label class="switch pull-right">
                    <input type="checkbox">
                    <span class="slider round"></span></label></h6>
            
                    </div>          
            </div>
            <div class="col-md-3">
                <div class="buy-plans">
                <h5 class="text-center">
                    {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.FUEL_ALERTS' | translate}}
                </h5>

                <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.WHATS_APP' | translate}} <label class="switch pull-right">
                    <input type="checkbox">
                    <span class="slider round"></span></label></h6>
            <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.SMS' | translate}} <label class="switch pull-right">
                    <input type="checkbox">
                    <span class="slider round"></span></label></h6>

            <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.EMAIL' | translate}} <label class="switch pull-right">
                    <input type="checkbox">
                    <span class="slider round"></span></label></h6>

            <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.NOTIFICATION' | translate}} <label class="switch pull-right">
                    <input type="checkbox">
                    <span class="slider round"></span></label></h6>
            
                    </div>          
            </div>
            <div class="col-md-3">
                <div class="buy-plans">
                <h5 class="text-center">
                    {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.GEOFENCE_ALERTS' | translate}}
                </h5>

                <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.WHATS_APP' | translate}} <label class="switch pull-right">
                        <input type="checkbox">
                        <span class="slider round"></span></label></h6>
                <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.SMS' | translate}} <label class="switch pull-right">
                        <input type="checkbox">
                        <span class="slider round"></span></label></h6>

                <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.EMAIL' | translate}} <label class="switch pull-right">
                        <input type="checkbox">
                        <span class="slider round"></span></label></h6>

                <h6 class="alerttype">  {{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_COMPONENT.NOTIFICATION' | translate}} <label class="switch pull-right">
                        <input type="checkbox">
                        <span class="slider round"></span></label></h6>
            
                    </div>          
            </div>
      

        </div>
</div>
