.example-full-width {
    width: 100%;
  }
  .mt20{
  margin-top: 20px;
  }

  .mrleftright{
    margin-left: 10px;
    margin-right: 10px;
  }
  h5,h6{
    color: black;
  }

  p,b {
    color: #464646 !important;
  }

