<div class="row clearfix" style="margin-bottom:15px">
    <div class="col-md-10 text-left">
        <button class="btn btn-primary mr15 btn-sm" nbTooltip="Back" nbTooltipStatus="primary"
            [nbTooltipIcon]="{icon: 'arrow-back-outline', pack: 'eva'}" (click)="back()"><i class="fa fa-arrow-left"
                aria-hidden="true"></i>
        </button>

    </div>
</div>

<div class="pad15-box">
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <label style="margin-bottom: 10px;"><b> {{'REPORTS_CHARTS.CHART_REPORT.VEHICLE_STATUS' | translate}}
                    </b></label>
                <div class="clearfix"></div>
                <div class="col-md-12" style="margin-top: 30px;">
                    <div echarts [options]="vehiclestatusChart" class="echart"></div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6"><label style="margin-bottom: 10px;"><b>
                                {{'REPORTS_CHARTS.CHART_REPORT.KILOMETER_TRVELLED' | translate}}
                            </b></label>
                    </div>

                    <div class="col-md-4">
                        <mat-form-field class="no-line" style="margin-top: -30px;">
                            <input matInput class="form-control datepicker" [matDatepicker]="picker" [max]="MaxDate"
                                [(ngModel)]="currentDate" (dateChange)="KM_Date_chart_api($event)" readonly>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div echarts [options]="KMTravelledChart" class="echart"></div>
                </div>
            </div>

            <div class="col-md-6 mt20">
                <div class="row">
                    <div class="col-md-5"><label
                            style="margin-bottom: 10px;"><b>{{'REPORTS_CHARTS.CHART_REPORT.MONTH_TRVELLED' | translate}}
                            </b></label>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="no-line" style="margin-top: -30px;">
                            <input class="form-control datepicker" matInput [(ngModel)]="currentMonthDate"
                                [max]="MaxDate" [matDatepicker]="Month" (dateChange)="Month_KM_Chart_api($event)"
                                readonly>
                            <mat-datepicker-toggle matSuffix [for]="Month"></mat-datepicker-toggle>
                            <mat-datepicker #Month startView="multi-year"></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div echarts [options]="MonthKMTravelledChart" class="echart"></div>
                </div>
            </div>
        </div>
    </div>
</div>