<div class="clearfix row">

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/vechicle-management']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/all-vehicle-details_1.png" alt="" class="mt20 img" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'FLEET_MANAGEMENT.VEHICLES_MANAGEMENT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/service-management']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/servicing.png" alt="" class="mt20 img" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'FLEET_MANAGEMENT.SERVICING_MANAGEMENT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>


    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/fuel-management']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/fuel.png" alt="" class="mt20 img" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p style="font-size: 14px;"><b>{{'FLEET_MANAGEMENT.FUEL_MANAGEMENT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/routes']">
            <div class="buy-plans clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\routs_1.png" alt="" class="mt20 img" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'REPORTS_CHARTS.MY_ROUTES_REPORT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/driver-management']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/driver.png" alt="" class="mt20 img" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'FLEET_MANAGEMENT.DRIVER_MANAGEMENT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>


    <!-- Temp Start -->

    <div class="col-md-3 mb10 clearfix">
        <a (click)="comingSoon()">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/tyre.png" alt="" class="mt20 img" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'FLEET_MANAGEMENT.TYRE_MANAGEMENT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a (click)="comingSoon()">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/spare.png" alt="" class="mt20 img" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'FLEET_MANAGEMENT.SPARE_PARTS_MANAGEMENT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/alert_notifications']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/alert.png" alt="" class="mt20 img" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'FLEET_MANAGEMENT.ALERT_MANAGEMENT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/kilometer-summary-management']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/kilometer.png" alt="" class="mt20 img" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'FLEET_MANAGEMENT.KM_SUMMARY_MANAGEMENT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>



    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/customer-management']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/customer.png" alt="" class="mt20 img" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'FLEET_MANAGEMENT.CUSTOMER_MANAGEMENT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>


    <div class="col-md-3 mb10 clearfix">
        <a (click)="comingSoon()">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/expanses.png" alt="" class="mt20 img" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'FLEET_MANAGEMENT.EXPANCES_MANAGEMENT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>


    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/my-trips']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/trip.png" alt="" class="mt20 img" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'FLEET_MANAGEMENT.TRIP_MANAGEMENT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>


    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/hub-management']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/hub.png" alt="" class="mt20 img" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'FLEET_MANAGEMENT.HUB_MANAGEMENT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/company-management']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/company_management.png" alt="" class="mt20 img" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'FLEET_MANAGEMENT.COMPANY_MANAGEMENT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/shared-management']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/shared_management.png" alt="" class="mt20 img" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'FLEET_MANAGEMENT.SHARED_LINK_MANAGEMENT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>


</div>