<div class="clearfix row">

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/stoppage-report']">
            <div class="buy-plans div-responsive clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\stop-page-report.png" alt=""
                        class="img-responsive mt20 img" />
                </div>
                <div class="col-md-12 text-center  mb10">
                    <p><b>{{'REPORTS_CHARTS.STOPPAGE_REPORT_TITLE' | translate}} </b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/track-report']">
            <div class="buy-plans div-responsive clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\track_report.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'REPORTS_CHARTS.TRACK_REPORT_TITLE' | translate}} </b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/distance-report']">
            <div class="buy-plans div-responsive clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\distance_report.png" alt=""
                        class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'REPORTS_CHARTS.DISTANCE_REPORT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/full-vechicle-details']">
            <div class="buy-plans div-responsive clearfix">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\all-vehicle-details.png" alt=""
                        class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'REPORTS_CHARTS.FULL_VEHICLE_DETAILS_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/daywise-km-report']">
            <div class="buy-plans clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\daywise.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'REPORTS_CHARTS.DAYWISE_KILOMETER_REPORT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/daily-summary-km-report']">
            <div class="buy-plans clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\24_hrs_report.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p class="fontResposiveFix" style="font-size: 12px;"><b>{{'REPORTS_CHARTS.DAILY_SUMMARY_KM_REPORT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/24hours-km-report']">
            <div class="buy-plans div-responsive clearfix">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\daily_summary_report.png" alt=""
                        class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'REPORTS_CHARTS.24_HOURS_KM_REPORT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/24hours-analysis']">
            <div class="buy-plans clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\24_hrs_report_analytics.png" alt=""
                        class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'REPORTS_CHARTS.24_HOURS_ANALYSIS_REPORT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/geofence-report']">
            <div class="buy-plans div-responsive clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\geofance_report.png" alt=""
                        class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'REPORTS_CHARTS.GEOFENCE_REPORT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/driver-performance']">
            <div class="buy-plans div-responsive clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\driver_parformance.png" alt=""
                        class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'REPORTS_CHARTS.DRIVER_PERFORMANCE_REPORT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/track-nearest-vechicle']">
            <div class="buy-plans div-responsive clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\track-nearest.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center  mb10">
                    <p style="font-size: 13px;"><b>{{'REPORTS_CHARTS.TRACK_NEAREST_VEHICLE_REPORT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/charts']">
            <div class="buy-plans div-responsive clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\charts.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'REPORTS_CHARTS.CHARTS_REPORT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/summary_report']">
            <div class="buy-plans div-responsive clearfix">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\track_history.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'REPORTS_CHARTS.SUMMARY_REPORT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/temperature-reports']">
            <div class="buy-plans div-responsive clearfix">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\temparature.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'REPORTS_CHARTS.TEMPERATURE_REPORT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/fuel-reports']">
            <div class="buy-plans div-responsive clearfix">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\fuel.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'REPORTS_CHARTS.FUEL_REPORT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>


    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/dashboard-report']">
            <div class="buy-plans div-responsive clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\all-vehicle-details.png" alt=""
                        class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'REPORTS_CHARTS.DASHBOARD_REPORT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/kilometer-summary-management']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/kilometer.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p ><b>{{'REPORTS_CHARTS.KILOMETER_SUMMARY_MANAGEMENT_REPORT_TITLE' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/all-positions-report']">
            <div class="buy-plans div-responsive clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\distance_report.png" alt=""
                        class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'REPORTS_CHARTS.All Positions Report' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/over-speed-report']">
            <div class="buy-plans div-responsive clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\kilometer.png" alt=""
                        class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mb10">
                    <p><b>{{'REPORTS_CHARTS.Over speed report' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

</div>