.mrleftright {
    margin-left: 10px;
    margin-right: 10px;
}

.example-container table th {
    color: #fff !important;
    vertical-align: middle !important;
    padding: 10px !important;
}

.example-container table td {
    padding: 10px !important;
}
.example-container table {
    overflow-x: scroll !important;
}
.mb20 {
    margin-bottom: 20px;
}

.mr15 {
    margin-right: 15px !important;
}
.mr12 {
    margin-left: -49px;
    padding: 1px 1px 0px;
}

.mt50 {
    margin-top: 76px;
}
.my-custom-scrollbar {
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

::ng-deep .mat-form-field {
    color: #464646 !important;
}

.mat-button {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.7;
    border-radius: 0.2rem;
}

.mat-input-element {
    line-height: auto;
    padding: 6px;
    height: auto;
    font-size: 12px;
    border: 1px solid;
    border-color: #0779e4;
    background: white;
    width: 100%;
}
.ml-20 {
    margin-left: -20px !important;
}

.btn-sm,
.btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.7;
    border-radius: 0.2rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.required {
    color: red;
}

label {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 6px;
}
.mrleftright {
    margin-left: 10px;
    margin-right: 10px;
}
.btn.btn-md {
    padding: 0.7rem 1.6rem;
    font-size: 0.7rem;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px 0 0;
    padding: 0px !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #ffffff14 !important;
}

button.btn.btn-primary.sub {
    margin-top: 30px;
    font-size: 12px;
    padding-left: 10px;
    /* margin: auto; */
    padding: 5px;
    margin-left: 10px;
}

::ng-deep .no-line .mat-form-field-underline {
    display: none;
}
::ng-deep .no-line1 .mat-form-field-underline {
    display: none;
}

.mat-label {
    font-weight: 5px;
}

::ng-deep .mat-form-field {
    width: 100% !important;
}

::ng-deep .mat-form-field .form-control {
    border: solid 1px #ccc;
    background-color: #fff;
    padding: 10px;
    font-size: 14px !important;
}

::ng-deep .mat-form-field-prefix,
::ng-deep .mat-form-field-suffix {
    white-space: nowrap;
    flex: none;
    position: relative;
    background: #007bff !important;
    padding: 0px 2px 2px 0px;
    color: #fff;
    font-size: 20px;
    margin-left: -0px;
}

.auto-width {
    margin: 0;
    padding: 0px 10px;
    float: left;
}

.form-group {
    margin-bottom: 0px;
}

.mt25 {
    margin-top: 25px;
}

::ng-deep .mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    margin-top: -19px;
}

.field-with-fix {
    width: 100%;
    max-width: 220px;
}

.no-pad {
    padding: 0px;
}

::ng-deep .mat-form-field-infix {
    width: 135px !important;
}

::ng-deep .mat-form-field .form-control {
    // border: solid 1px #ccc;
    // background-color: #fff;
    padding: 10px !important;
}

::ng-deep .mat-datepicker-toggle {
    color: #fff !important;
}

// table row hover effect

tr:hover {
    background-color: #b3f0ff;
}

::ng-deep .mat-form-field-prefix,
::ng-deep .mat-form-field-suffix {
    white-space: nowrap;
    flex: none;
    position: relative;
    background: #007bff !important;
    padding: 0px 2px 2px 0px;
    color: #fff;
    font-size: 20px;
    margin-left: -13px;
}

::ng-deep .mat-tab-label {
    background-color: #ccc !important;
    opacity: 1 !important;
}

::ng-deep .mat-tab-label-active {
    background-color: #0b46ae !important;
    color: #fff;
}
::ng-deep .mat-tab-label:hover {
    background-color: #febe40 !important;
}

agm-map {
    height: 500px;
}

a {
    color: darkblue;
}

.card_positon {
    position: absolute;
    padding: 6px 10px 2px;
    background: #fff;
    border: solid 1px #ccc;
    margin: 10px;
    top: 0px;
    padding-bottom: 0px;
    right: 678px;
}

.mb10 {
    margin-bottom: 10px;
}


//  suresh edit css style 

.home-map {
    height: 80vh;
    overflow: hidden;
}

.sourceLocationOnMap {
    padding: 0px 7px 0px 0px;
    bottom: 0px;
}

.desitinationLocationOnMap {
    padding: 0px 7px 0px 0px;
    bottom: 0px;
}

.selectTypeVehicle {
    padding: 0px 7px 0px 0px;
    bottom: 0px;
}

.btnSubmit {
    padding: 10px 12px -1px 11px;
    margin:32px 17px 0px 10px;
    border: solid 1px #ccc;
    top: 25px;
    font-size: 13px;
    cursor: pointer;
    bottom: 0px;
}


.mapbackgroundcolor {
    position: absolute;
    padding: 4px 10px 7px 28px;
    background: #fff;
    border: solid 1px #ccc;
    margin: 10px 0px 0px 0px;
    top: -5px;
    left: 6px;
}

.datanotfound{
    font-size: 25px;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 180px;
    font-weight: bold;
  }

