<div class="row clearfix">

</div>

<div class="row">
    <div class="col-md-11 text-left">
        <h4 *ngIf="isAddService" style="margin-left: 13px;"><b>{{'MY_ACCOUNT.CREATE_GEOFENCE_ALERT_COMPONANT.CREATE_GEOFENCE_ALERT' | translate}} : </b></h4>
        <h4 *ngIf="!isAddService" style="margin-left: 13px;"><b>{{'MY_ACCOUNT.CREATE_GEOFENCE_ALERT_COMPONANT.EDIT_GEOFENCE_ALERT' | translate}} : </b> </h4>
    </div>
    <div class="col-md-1">
      <button mat-dialog-close="true" style="padding: 3px 8px 2px;margin-left: 15px;
  line-height: 17px;
  min-width: auto;" class="btn btn-sm btn-info">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>

<div class="col-md-12  mt10 " [formGroup]="createtempfrom">
    <div class="row mt15">

        <div class="col-md-4" >
            <div class="form-group">
                <label>{{'MY_ACCOUNT.CREATE_GEOFENCE_ALERT_COMPONANT.SELECT_GEOFENCE' | translate}}<span class="required">*</span></label>
                <mat-select class="form-control"  formControlName="geofenceName" [(ngModel)]="geofenceId"
                    placeholder="Select geofence" #singleSelect>
                    <mat-option>
                        <ngx-mat-select-search [formControl]="geofenceMultiFilterCtrl" placeholderLabel="Search Geofence..."
                            noEntriesFoundLabel="'no matching geofence found'"></ngx-mat-select-search>
                    </mat-option>

                    <mat-option *ngFor='let row of filteredGeofencMultiList | async' [value]="row.geofence_id">
                        {{row.geofence_name}}</mat-option>
                </mat-select>

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>{{'MY_ACCOUNT.CREATE_GEOFENCE_ALERT_COMPONANT.SELECT_VEHICLE' | translate}}<span class="required">*</span></label>
                <mat-select class="form-control" [formControl]="bankMultiCtrl" [(ngModel)]="selectedVehicles"
                    placeholder="Select Vehicle" [multiple]="true" #multiSelect>
                    <mat-option>
                        <ngx-mat-select-search [formControl]="bankMultiFilterCtrl" placeholderLabel="Search Vehicle..."
                            noEntriesFoundLabel="'no matching Vehicle found'"></ngx-mat-select-search>
                    </mat-option>

                    <mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank.device_link_id">
                        {{bank.vehicle_number}}
                    </mat-option>
                </mat-select>

            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>{{'MY_ACCOUNT.CREATE_GEOFENCE_ALERT_COMPONANT.FROM_DATE_TIME' | translate}} <span class="required">*</span></label>
                <mat-form-field class="no-line">
                    <input class="form-control datepicker" matInput [(ngModel)]="startDate"
                        [matDatetimepicker]="stateDatepicker" formControlName="startdate">
                    <mat-datetimepicker-toggle matSuffix [for]="stateDatepicker"></mat-datetimepicker-toggle>
                    <mat-datetimepicker #stateDatepicker type="datetime" openOnFocus="true" timeInterval="1">
                    </mat-datetimepicker>
                    <div
                        *ngIf="createtempfrom.controls['startdate'].errors && createtempfrom.controls['startdate'].touched">
                        <span *ngIf="createtempfrom.controls['startdate'].errors.required" style="color: red;">
                            {{'MY_ACCOUNT.CREATE_GEOFENCE_ALERT_COMPONANT.SELECT_FROM_DATE_TIME' | translate}}
                        </span>

                    </div>
                </mat-form-field>
            </div>
        </div>

        <div class="col-md-4" style="margin-bottom:15px;">
            <div class="form-group">
                <label>
                    {{'MY_ACCOUNT.CREATE_GEOFENCE_ALERT_COMPONANT.TO_DATE_TIME' | translate}}    
                <span class="required">*</span></label>
                <mat-form-field class="no-line">
                    <input class="form-control datepicker" matInput [(ngModel)]="endDate"
                        [matDatetimepicker]="endDatepicker" formControlName="enddate">
                    <mat-datetimepicker-toggle matSuffix [for]="endDatepicker"></mat-datetimepicker-toggle>
                    <mat-datetimepicker #endDatepicker type="datetime" openOnFocus="true" timeInterval="1">
                    </mat-datetimepicker>
                    <!-- #enddocregion toggle -->
                    <div
                        *ngIf="createtempfrom.controls['enddate'].errors && createtempfrom.controls['enddate'].touched">
                        <span *ngIf="createtempfrom.controls['enddate'].errors.required" style="color: red;"> 
                            {{'MY_ACCOUNT.CREATE_GEOFENCE_ALERT_COMPONANT.SELECT_TO_DATE_TIME' | translate}}
                        </span>
                    </div>
                </mat-form-field>
            </div>
        </div>



        <div class="col-md-4" [formGroup]="emailChipForm">
            <div class="form-group">
                <label for="exampleInputEmail1">{{'MY_ACCOUNT.CREATE_GEOFENCE_ALERT_COMPONANT.EMIL_ID' | translate}}</label>
                <!-- <input type="text" [(ngModel)]="email" formControlName="email" class="form-control" maxlength="30"
                    placeholder="Enter Email Id"> -->
                <tag-input [(ngModel)]='email_ids' placeholder="Enter New Email" secondaryPlaceholder="Enter Email ID"
                    [maxItems]='4' formControlName="chipEmail">
                </tag-input>

            </div>
        </div>

        <div class="col-md-4" [formGroup]="chipForm">
            <div class="form-group">
                <label>
                    {{'MY_ACCOUNT.CREATE_GEOFENCE_ALERT_COMPONANT.MOBILE_NUMBER' | translate}}
                </label>
                <!-- <input type="text" [(ngModel)]="mobileNumber" formControlName="mobile_num"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                    class="form-control" maxlength="10" placeholder="Enter Mobile Number"> -->
                <tag-input [(ngModel)]='items' placeholder="Enter new mobile number"
                    secondaryPlaceholder="Enter Mobile Number" formControlName="mobile_num" [maxItems]='4'>
                </tag-input>

            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>
                    {{'MY_ACCOUNT.CREATE_GEOFENCE_ALERT_COMPONANT.SELECT_STATUS' | translate}}    
                <span class="required">*</span></label>
                <mat-select class="form-control" formControlName="geofencestatus" placeholder="Select Status"
                    [(ngModel)]="status">
                    <mat-option value="Active">Active</mat-option>
                    <mat-option value="Inactive">Inactive</mat-option>
                </mat-select>
                <mat-error
                    *ngIf="createtempfrom.controls['geofencestatus'].errors && createtempfrom.controls['geofencestatus'].touched">
                    <span *ngIf="createtempfrom.controls['geofencestatus'].errors.required" style="color: red;">
                        {{'MY_ACCOUNT.CREATE_GEOFENCE_ALERT_COMPONANT.SELECT_STATUS' | translate}}
                    </span>
                </mat-error>
            </div>
        </div>

    </div>

</div>

<div class="col-md-12 text-center mt30">
    <div class="form-group">
        <button type="submit" *ngIf="this.isAddService" class="btn btn-primary mrleftright" (click)="submit()"
        [disabled]="createtempfrom.invalid">
        {{'MY_ACCOUNT.CREATE_GEOFENCE_ALERT_COMPONANT.SUBMIT' | translate}}
    </button> &nbsp; &nbsp;
        <button type="submit" *ngIf="!this.isAddService" class="btn btn-primary mrleftright" (click)="submit()"
            [Enable]="createtempfrom.invalid">
            {{'MY_ACCOUNT.CREATE_GEOFENCE_ALERT_COMPONANT.UPDATE' | translate}}
        </button> &nbsp; &nbsp;
        <button type="submit" mat-dialog-close="false" class="btn btn-warning mrleftright">
             {{'MY_ACCOUNT.CREATE_GEOFENCE_ALERT_COMPONANT.CANCEL' | translate}}</button>
    </div>
</div>
