<div class="clearfix row">

    <div class="col-md-3 mb10 clearfix" style="cursor: pointer;">
        <a (click)="temperature_alerts()">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/temperature_dashboard/alert.png" alt="" class="  img mt20 img-responsive" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <p  style="font-size: 14px;"><b> {{'DASH_BOARD.TEMPERATURE_DASHBOARD_COMPONENT.TEMPERATURE_ALERTS' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix" style="cursor: pointer;">
        <a (click)="temperature_notifications()">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/temperature_dashboard/notifications.png" alt=""
                        class="  img mt20 img-responsive" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <p style="font-size: 14px;"><b>{{'DASH_BOARD.TEMPERATURE_DASHBOARD_COMPONENT.TEMPERATURE_NOTIFICATIONS' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix" style="cursor: pointer;">
        <a (click)="temperature_report()">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/temperature_dashboard/temparature.png" alt=""
                        class="  img mt20 img-responsive" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <p style="font-size: 14px;"><b>{{'DASH_BOARD.TEMPERATURE_DASHBOARD_COMPONENT.TEMPERATURE_REPORTS' | translate}}</b></p>
                </div>
            </div>
        </a>
    </div>
</div>