<div class="row">
    <div class="col-md-10 text-left">
        <button class="btn btn-primary mr15 btn-sm" (click)="back()"><i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button>
    </div>
</div>
<div class="col-md-12 white-bg card-body mt10">
    <div class="row">
        <div class="col-md-6 mb20">
            <div class="buy-plans clearfix">
                <h5 class="text-left">Platinum Plan 3 Years its good</h5>
                <div class="row">
                    <div class="col-md-6  mb10">
                        <div class="plans-data">
                            <p>Plan Validity</p>
                            <h6><b>1095 Days</b> <small>(3 Years)</small></h6>
                        </div>
                    </div>
                    <div class="col-md-6  mb10">
                        <div class="plans-data">
                            <p>Plan Cost</p>
                            <h6><b><i class="fa fa-rupee-sign"></i> 3600.00</b> <small>( ₹100.00 Per Month)</small></h6>
                        </div>
                    </div>
                </div>
                <div class="clearfix bdr-btm1 mb10"></div>
                <div class="col-md-12 mb20">
                    <p>Plan Discription</p>
                    <p><b>Includes three years Webs Application and Mobile App charges. Three years SIM Subscription charges absolutely free</b></p>
                </div>
            </div>
        </div>

        <div class="col-md-6 text-right">
            <div class="balance-details">
                <h5>Wallet Balance: ₹249.95</h5>
                <h6>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            Use Wallet Balance
                        </label>
                    </div>
                </h6>
                <h6>Final Amount to Pay: ₹0.0</h6>
                <a class="pull-right btn btn-yellow-outline"><i class="fa fa-shopping-basket"></i>Buy Now</a>
            </div>
        </div>
    </div>

    <div class="col-md-12 mb10">
        <div class="row">
            <div class="col-md-6 mb10 mt20">
                <h4 class="text-blue">Select Devices list</h4>
            </div>

            <div class="col-md-6 mb10 mt20 text-right">
                <h4 class="pull-right">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" (change)="selectAllcheckBox($event)">
                            Select All
                        </label>
                    </div>
                </h4>
            </div>

            <div class="row">
                <div class="col-md-4 mb20" *ngFor='let vehiclesListData of vehicles'>
                    <div class="buy-plans clearfix">

                        <div class="col-md-12 bg-gray">
                            <h6>{{vehiclesListData.vehicle_number}}
                                <div class="boxes">
                                    <input type="checkbox" [checked]="checks" name="getcheckboxvalues" value="{{vehiclesListData.device_link_id}}">
                                </div>
                            </h6>
                        </div>

                        <div class="plans-data mb10">
                            <p>Device IMEI</p>
                            <h6><b> {{vehiclesListData.device_imei}}</b></h6>
                        </div>
                        <div class="clearfix bdr-btm1"></div>
                        <div class="plans-data mb10">
                            <p>Current Plan Expired on</p>
                            <h6><b> {{vehiclesListData.devicetime}} </b></h6>
                        </div>
                        <div class="clearfix bdr-btm1"></div>
                        <div class="col-md-12 mb10">
                            <a class="btn btn-yellow-outline btn-lg" (click)="PurchasedPlansDetails()"><b>Purchased Plans</b></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>