<div class="row clearfix">
    <div class="col-md-10 text-left">
        <button class="btn btn-primary mr15 btn-sm" nbTooltip="Back" nbTooltipStatus="primary" [nbTooltipIcon]="{icon: 'arrow-back-outline', pack: 'eva'}" (click)="back()"><i class="fa fa-arrow-left"
                aria-hidden="true"></i>
        </button>

        <label>
            <input type="search" matInput id="search_element" (keyup)="applyFilter($event)"
                class="form-control search-field pull-left" placeholder="Search Vehicle">
        </label>

        <button class="btn btn-primary pull-left ml-20 mr15 btn-sm" (click)="search()"><i
                class="fa fa-search"></i></button>
        <button class="btn btn-danger pull-left mr15 btn-sm" mat-button (click)="exporter.exportTable('xlsx', {fileName:'HubDetails', sheet: 'HubDetails', Props: {Author: 'Talha'}})"><i
                class="fa fa-file-excel"></i> &nbsp; {{'COMMON_BUTTON_ALL_COMPONENT.DOWNLOAD_EXCEL' | translate}}</button>
        <button class="btn btn-primary pull-left mr15 btn-sm" mat-button (click)="downloadPDF()"><i
                class="fa fa-file-pdf"></i>
            &nbsp; {{'COMMON_BUTTON_ALL_COMPONENT.DOWNLOAD_PDF' | translate}}</button>
        <button class="btn btn-success pull-left mr1 btn-sm" nbTooltip="Refresh" (click)="refresh()" nbTooltipStatus="success" [nbTooltipIcon]="{icon: 'refresh-outline', pack: 'eva'}"><i
                class="fa fa-sync"></i></button>
    </div>
</div>

<div class="col-md-6">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{'FLEET_MANAGEMENT.HUB_MANAGEMENT_DETAILS_COMPONENT.HUB_DETAILS' | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                    <label>{{'FLEET_MANAGEMENT.HUB_MANAGEMENT_DETAILS_COMPONENT.HUB_NAME' | translate}} : </label><br>
                    <b>{{hubName}}</b>
                </div>
                <div class="col-md-6">
                    <label>{{'FLEET_MANAGEMENT.HUB_MANAGEMENT_DETAILS_COMPONENT.HUB_LOCATION' | translate}} : </label><br>
                    <b>{{hubLocation}}</b>
                </div>
                <div class="col-md-6">
                    <label>{{'FLEET_MANAGEMENT.HUB_MANAGEMENT_DETAILS_COMPONENT.MANAGER_NAME' | translate}} : </label><br>
                    <b>{{hubManager}}</b>
                </div>

                <div class="col-md-6">
                    <label>{{'FLEET_MANAGEMENT.HUB_MANAGEMENT_DETAILS_COMPONENT.MANAGER_NUMBER' | translate}} : </label><br>
                    <b>{{hubManagerNum}}</b>
                </div>

                <!-- <div class="col-md-6">
                    <label>Gender</label>
                    <h6></h6>
                </div>

                <div class="col-md-6">
                    <label>Driving Licence Number</label>
                    <h6></h6>
                </div>

                <div class="col-md-6">
                    <label>PAN Card Number</label>
                    <h6></h6>
                </div> -->
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div class="col-md-12 ">
    <h6 class="text-blue">{{'FLEET_MANAGEMENT.HUB_MANAGEMENT_DETAILS_COMPONENT.VEHICLE_DETAILS' | translate}} :</h6>
</div>

<div>
    <div class="example-container mat-elevation-z8" id="content" #content>
        <div class="table-responsive" style="height: 500px;overflow: auto !important;">
            <table matTableExporter #exporter="matTableExporter" [hiddenColumns]="[9]" class="table-bordered table" mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="id">
                    <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let element; let i = index;"> {{(i+1)}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="vehicle_number">
                    <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{'FLEET_MANAGEMENT.HUB_MANAGEMENT_DETAILS_COMPONENT.VEHICLE_NUMBER' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">{{element.vehicle_number}}</td>
                </ng-container>

                <ng-container matColumnDef="vehicle_type">
                    <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{'FLEET_MANAGEMENT.HUB_MANAGEMENT_DETAILS_COMPONENT.VEHICLE_TYPE' | translate}}
                    </th>
                    <td class="cellSpace" mat-cell *matCellDef="let element">{{element.vehicle_type}} </td>
                </ng-container>




                <!-- <ng-container matColumnDef="Actions">
                    <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
                    <td mat-cell *matCellDef="let element"><a><i class="fa fa-edit text-blue"
                                (click)="edit(element.hub_id)" style="cursor: pointer;color: blue;"></i></a><b> |
                        </b><a><i class="fa fa-trash-alt" (click)="delete(element.hub_id,element.hub_name)"
                                style="cursor: pointer;color: red;"></i></a>
                    </td>
                </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </div>
    </div>
</div>