.mrleftright {
    margin-left: 10px;
    margin-right: 10px;
}

label {
    font-weight: bold;
}
.mrleftright {
    margin-left: 10px;
    margin-right: 10px;
}
.btn.btn-md {
    padding: 0.7rem 1.6rem;
    font-size: 0.7rem;
}

h4{
    color: black;
}