<div class="row clearfix">
  <div class="col-md-10 text-left">
    <button class="btn btn-primary mr15 btn-sm" nbTooltip="Back" nbTooltipStatus="primary"
      [nbTooltipIcon]="{icon: 'arrow-back-outline', pack: 'eva'}" (click)="back()"><i class="fa fa-arrow-left"
        aria-hidden="true"></i>
    </button>

    <label>
      <input type="search" matInput id="search_element" (keyup)="applyFilter($event)"
        class="form-control search-field pull-left" placeholder="Search Vehicle">
    </label>

    <button class="btn btn-primary pull-left ml-20 mr15 btn-sm" (click)="search()"><i class="fa fa-search"></i></button>

  
    <button class="btn btn-danger pull-left mr15 btn-sm" mat-button (click)="exportexcle()">
      <i class="fa fa-file-excel"></i> &nbsp; 
      {{'COMMON_BUTTON_ALL_COMPONENT.DOWNLOAD_EXCEL' | translate}}
    </button>
    <button class="btn btn-primary pull-left mr15 btn-sm" mat-button (click)="downloadPDF()">
      <i class="fa fa-file-pdf"></i>&nbsp; 
      {{'COMMON_BUTTON_ALL_COMPONENT.DOWNLOAD_PDF' | translate}}
    </button>
    <button class="btn btn-success pull-left mr1 btn-sm" nbTooltip="Refresh" (click)="refresh()"
      nbTooltipStatus="success" [nbTooltipIcon]="{icon: 'refresh-outline', pack: 'eva'}"><i
        class="fa fa-sync"></i></button>
  </div>

</div>

<div>
  <div class="example-container mat-elevation-z8" id="content" #content>
    <div class="table-responsive" style="height: 500px;overflow: auto !important;">
      <table class="table-bordered table" mat-table [dataSource]="gpslockdata" matSort>

        <ng-container matColumnDef="id">
          <th class="bg-primary !important ml15" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{(i+1)}}
          </td>
        </ng-container>

        <ng-container matColumnDef="vehicle_number">
          <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header> 
            {{'GPS_LOCK_COMPONANT.VEHICLE_NUMBER' | translate}}   
         </th>
          <td class="cellSpace" mat-cell *matCellDef="let element"><a
              style="text-decoration: underline;color:blue;cursor:  pointer;"
              (click)="openDetails(element)">{{element.vehicle_number}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="vehicle_type">
          <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header>
            {{'GPS_LOCK_COMPONANT.VEHICLE_TYPE' | translate}}
            Vehicle Type </th>
          <td class="cellSpace" mat-cell [ngStyle]="{'color': element.vehicle_motion_status_color}"
            *matCellDef="let element">{{element.vehicle_type}} &nbsp; <img src="{{element.listimage}}">
          </td>
        </ng-container>

        <ng-container matColumnDef="speed">
          <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header>
            {{'GPS_LOCK_COMPONANT.SPEED' | translate}}</th>
          <td mat-cell *matCellDef="let element"> {{element.speed_formatted}} </td>
        </ng-container>

        <ng-container matColumnDef="last_location">
          <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header>
            {{'GPS_LOCK_COMPONANT.LOCATION' | translate}}</th>
          <td class="cellSpace" mat-cell *matCellDef="let element">{{element.location_formatted}}</td>
        </ng-container>

        <ng-container matColumnDef="fixtime">
          <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header>
            {{'GPS_LOCK_COMPONANT.LAST_RECORD' | translate}}
          </th>
          <td mat-cell class="cellSpace" *matCellDef="let element">
            {{element.fixtime | date:'dd MMM yyyy hh:mm:ss a'}} </td>
        </ng-container>

        <ng-container matColumnDef="Assigned">
          <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header>
            {{'GPS_LOCK_COMPONANT.ASSIGNED' | translate}}
          </th>
          <td mat-cell *matCellDef="let element">
            <section class="example-section">
              <mat-slide-toggle class="example-margin" [color]="color" [checked]="element.checked"
                (change)="GpsLock($event,OpenGpsOtpModal,element.device_link_id,element.vehicle_number)">
              </mat-slide-toggle>
            </section>
          </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <div class="col-md-12" style="margin-top: 180px;" *ngIf="TableDataNotshow">
        <p class="datanotfound">{{'DATA_NOT_FOUND_TITLE' | translate}}</p>
      </div>

    </div>
  </div>
</div>

<div>




</div>

<div class="container">
  <ng-template #OpenGpsOtpModal let-modal>
    <div class="modal-content model-resize">
      <div class="modal-header">
        <p><b>{{vehicleNumber}}</b> </p>
        <button type="button" x (click)="cancelGpsLockButton()">&times;</button>
      </div>

      <div class="modal-body">
        <div class="row">
          <h6 style="margin-left: 10px;" *ngIf="isShowTitle">Are you sure you want to LOCK your vehcile with GPS Lock
            option ?</h6>
          <h6 style="margin-left: 10px;" *ngIf="isShowUnlockTitle">Are you sure you want to UNLOCK your vehcile with GPS
            Lock option ?</h6>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="cancelGpsLockButton()">CANCEL</button>
        <button type="button" class="btn btn-primary" *ngIf="isShowTitle"
          (click)="gpsLockApiCall(OpenGpsLockedkModal)">LOCK</button>
        <button type="button" class="btn btn-primary" *ngIf="isShowUnlockTitle"
          (click)="gpsUnLockApiCall(OpenGpsUnLockedkModal)">UNLOCK</button>
      </div>
    </div>
  </ng-template>

  <ng-template #OpenGpsLockedkModal let-modal>
    <div class="modal-content model-resize">
      <div class="col-md-12">
        <p style="margin-top: 22px;margin-bottom: -10px;">{{GpsLockMessage}}</p><br>
        <p style="margin-top: 4px;margin-bottom: -3px;">Your Vehicle Number <b>{{vehicleNumber}}</b> </p>
    </div>
      <label style="margin-left: 16px;margin-top: 16px;"><b>Enter verification code :</b><span
          style="color: red;">&nbsp; *</span></label>
      <ng-otp-input style="margin-left: 80px;" (onInputChange)="onLockOtpChange($event)" [config]="config">
      </ng-otp-input>
      <div style="margin-top: 10px;margin-left: 146px;margin-bottom: 10px;">
        <button type="button" class="btn btn-primary mrleftright" (click)="gpsLockChangeStatus()">LOCK</button>
        <button type="submit" class="btn btn-warning mrleftright" (click)="cancelGpsLockButton()">CANCEL</button>
      </div>
    </div>
  </ng-template>

  <ng-template #OpenGpsUnLockedkModal let-modal>
    <div class="modal-content model-resize">
      <div class="col-md-12">
        <p style="margin-top: 22px;margin-bottom: -10px;">{{GpsLockMessage}}</p><br>
        <p style="margin-top: 4px;margin-bottom: -3px;">Your Vehicle Number <b>{{vehicleNumber}}</b> </p>
    </div>
      <label style="margin-left: 16px;margin-top: 16px;"><b>Enter verification code :</b><span
          style="color: red;">&nbsp; *</span></label>
      <ng-otp-input style="margin-left: 80px;" (onInputChange)="onUnlockOtpChange($event)" [config]="config">
      </ng-otp-input>
      <div style="margin-top: 10px;margin-left: 146px;margin-bottom: 10px;">
        <button type="button" class="btn btn-primary mrleftright" (click)="gpsUnLockChangeStatus()">UNLOCK</button>
        <button type="submit" class="btn btn-warning mrleftright" (click)="cancelGpsLockButton()">CANCEL</button>
      </div>
    </div>
  </ng-template>

</div>