<!-- Change Password Start -->
<div>

    <mat-dialog-actions [formGroup]="changepassword">
        <div class="row">
            <div class="col-md-12 text-left">
                <h5>{{'CHANGE_PASSWORD.TITLE' | translate}} : </h5>
            </div>
            <hr>
            <div class="col-md-12 mt10 mb10">
                <div class="form-group">
                    <label><b>{{'CHANGE_PASSWORD.OLD_PASSWORD' | translate}} :</b><span style="color: red;">&nbsp;
                            *</span></label><br>
                    <input type="password" maxlength="30" class="form-control" minlength="6"
                        formControlName="oldpassword" placeholder="Old Password">
                    <mat-error
                        *ngIf="changepassword.controls['oldpassword'].errors && changepassword.controls['oldpassword'].touched">
                        <span *ngIf="changepassword.controls['oldpassword'].errors.required">
                            {{'CHANGE_PASSWORD.ENTER_OLD_PASSWORD' | translate}}
                        </span>
                        <span *ngIf="changepassword.controls['oldpassword'].errors.minlength">
                            {{'CHANGE_PASSWORD.OLD_PASSWORD_MORE_THEN_6_WORDS' | translate}}
                        </span>
                    </mat-error>
                </div>
            </div>

            <div class="col-md-12 mt10 mb10">
                <div class="form-group">
                    <label><b>{{'CHANGE_PASSWORD.NEW_PASSWORD' | translate}} :</b><span style="color: red;">&nbsp;
                            *</span></label><br>
                    <input type="password" class="form-control" maxlength="30" minlength="6"
                        formControlName="newpassword" placeholder="New Password">
                    <mat-error
                        *ngIf="changepassword.controls['newpassword'].errors && changepassword.controls['newpassword'].touched">
                        <span *ngIf="changepassword.controls['newpassword'].errors.required">
                            {{'CHANGE_PASSWORD.ENTER_NEW_PASSWORD' | translate}}
                        </span>
                        <span *ngIf="changepassword.controls['newpassword'].errors.minlength">
                            {{'CHANGE_PASSWORD.PASSWORD_MORE_THEN_6_WORDS' | translate}}
                        </span>
                    </mat-error>
                </div>
            </div>

            <div class="col-md-12 mt10 mb10">
                <div class="form-group">
                    <label><b>{{'CHANGE_PASSWORD.CONFIRM_PASSWORD' | translate}} :</b><span style="color: red;">&nbsp;
                            *</span></label><br>
                    <input type="password" maxlength="30" class="form-control" minlength="6"
                        formControlName="confirmpassword" placeholder="Confirm Password">
                    <mat-error
                        *ngIf="changepassword.controls['confirmpassword'].errors && changepassword.controls['confirmpassword'].touched">
                        <span *ngIf="changepassword.controls['confirmpassword'].errors.required">
                            {{'CHANGE_PASSWORD.ENTER_CONFIRM_PASSWORD' | translate}}
                        </span>
                        <span *ngIf="changepassword.controls['confirmpassword'].errors.minlength">
                            {{'CHANGE_PASSWORD.CONFIRM_PASSWORD_MORE_THEN_6_WORDS' | translate}}    
                        </span>
                    </mat-error>
                </div>
            </div>

            <div class="col-md-12 text-center">
                <div class="form-group mt20">
                    <button type="submit" class="btn btn-primary mrleftright" (click)="submit()"
                        [disabled]="changepassword.invalid">
                        {{'CHANGE_PASSWORD.SUBMIT' | translate}}
                    </button>
                    &nbsp;&nbsp;
                    <button type="submit" mat-dialog-close="false" class="btn btn-warning mrleftright">
                        {{'CHANGE_PASSWORD.CANCEL' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </mat-dialog-actions>

</div>
<!-- Change Password Ending -->