<div class="col-md-12 white-bg no-pad">
    <div class="mt10 clearfix mb10 address">
        <div class="row">
        <div class="col-md-7 mt20">
            <div class="clearfix mb20 text-center">
                <h6 class="mb10">{{'REFER_AND_EARN_COMPONANT.REFER_AND_EARN' | translate}}</h6>
                <p>{{'REFER_AND_EARN_COMPONANT.REFER_TO_FRIENDS' | translate}}.</p>
                <p>{{'REFER_AND_EARN_COMPONANT.CASHBACK' | translate}}.</p>
                <p>{{'REFER_AND_EARN_COMPONANT.PAYTM_WALLET' | translate}}.</p>
            </div>

        </div>

        <div class="col-md-4 mb30">
            <div class="clearfix mb10 mt10 text-center">
                <span>{{'REFER_AND_EARN_COMPONANT.YOUR_REFERRAL_CODE' | translate}}</span>
                <div class="clfearfix"></div>
                <div id="animation-examples">
                    <div class="animation-examples one" ><b>{{refercode}}</b></div>
                </div>
            </div>
            <div class="clearfix mb20"></div>
            <button class="btn btn-round btn-sm">{{'REFER_AND_EARN_COMPONANT.SHARE' | translate}}</button>

        </div>
    </div>
    </div>
</div>

