<div class="row clearfix">
    <div class="col-md-8 text-left">

        <label>
            <input type="search" matInput id="search_element" (keyup)="applyFilter($event)"
                class="form-control search-field pull-left" placeholder="Search Organisation">
        </label>
        <button class="btn btn-primary pull-left ml-20 mr15 btn-sm" (click)="search()"><i
                class="fa fa-search"></i></button>

        <button class="btn btn-danger pull-left mr15 btn-sm" mat-button (click)=" Exportexcle()"><i
                class="fa fa-file-excel"></i> &nbsp;
            Export to Excel
        </button>
        <button class="btn btn-primary pull-left mr15 btn-sm" mat-button (click)="downloadPDF()"><i
                class="fa fa-file-pdf"></i>
            &nbsp;
            Export to PDF
        </button>
        <button class="btn btn-success pull-left mr1 btn-sm" nbTooltip="Refresh" nbTooltipStatus="success"
            [nbTooltipIcon]="{icon: 'refresh-outline', pack: 'eva'}" (click)="refresh()"><i
                class="fa fa-sync"></i></button>
    </div>
    <div class="col-md-4 ml-auto text-right">
        <div class="form-group">
            <button class="btn btn-warning btn-sm" (click)="add()"><b>+
                    Create Passenger</b></button>
        </div>
    </div>
</div>


<div>
    <div class="example-container mat-elevation-z8" id="content" #content>
        <div class="table-responsive" style="height: 500px;overflow: auto !important;">
            <table class="table-bordered table" mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="id">
                    <th class="bg-primary !important ml15" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let element; let i = index;"> {{(i+1)}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="vehicle_number">
                    <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Vehicle Number </th>
                    <td class="cellSpace" mat-cell *matCellDef="let element"><a
                            style="cursor: pointer;text-decoration: underline;color: blue;">
                            {{element.vehicle_number}}</a></td>
                </ng-container>

                <ng-container matColumnDef="passenger_name">
                    <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Passenger Name </th>
                    <td class="cellSpace" mat-cell *matCellDef="let element"> {{element.passenger_name}} </td>
                </ng-container>

                <ng-container matColumnDef="username">
                    <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Username </th>
                    <td mat-cell class="cellSpace" *matCellDef="let element"> {{element.username}} </td>
                </ng-container>

                <ng-container matColumnDef="mobile">
                    <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Mobile</th>
                    <td mat-cell class="cellSpace" *matCellDef="let element"> {{element.mobile}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="org_name">
                    <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Organisation Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.org_name}} </td>
                </ng-container>


                <ng-container matColumnDef="branch_name">
                    <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Branch Name </th>
                    <td mat-cell *matCellDef="let element">{{element.branch_name}}</td>
                </ng-container>

                <ng-container matColumnDef="route_name">
                    <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Route Name </th>
                    <td mat-cell *matCellDef="let element">{{element.route_name}}</td>
                </ng-container>

                <ng-container matColumnDef="trip_type">
                    <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Trip Type </th>
                    <td mat-cell *matCellDef="let element">{{element.trip_type}}</td>
                </ng-container>

                <ng-container matColumnDef="trip_start_time">
                    <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Trip Start Time</th>
                    <td mat-cell *matCellDef="let element"> {{element.trip_start_time}} </td>
                </ng-container>

                <ng-container matColumnDef="trip_end_time">
                    <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Trip End Time</th>
                    <td mat-cell *matCellDef="let element"> {{element.trip_end_time}} </td>
                </ng-container>


                <ng-container matColumnDef="edit">
                    <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Edit </th>
                    <td mat-cell *matCellDef="let element"><a><i class="fa fa-edit text-blue " (click)="edit(element)"
                                style="cursor: pointer;color: blue;"></i></a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>


        </div>
    </div>
</div>