<div class="row clearfix">
    <div class="col-md-8 text-left">
        <button class="btn btn-primary mr15 btn-sm" nbTooltip="Back" nbTooltipStatus="primary"
            [nbTooltipIcon]="{icon: 'arrow-back-outline', pack: 'eva'}" (click)="back()"><i class="fa fa-arrow-left"
                aria-hidden="true"></i>
        </button>

        <label>
            <input type="search" matInput id="search_element" (keyup)="applyFilter($event)"
                class="form-control search-field pull-left" placeholder="Search Driver">
        </label>
        <button class="btn btn-primary pull-left ml-20 mr15 btn-sm" (click)="search()"><i
                class="fa fa-search"></i></button>

        <button class="btn btn-danger pull-left mr15 btn-sm" mat-button
            (click)="exportexcle()"><i
                class="fa fa-file-excel"></i> &nbsp; {{'COMMON_BUTTON_ALL_COMPONENT.DOWNLOAD_EXCEL' | translate}}</button>
        <button class="btn btn-primary pull-left mr15 btn-sm" mat-button (click)="downloadPDF()"><i
                class="fa fa-file-pdf"></i> &nbsp;
            {{'COMMON_BUTTON_ALL_COMPONENT.DOWNLOAD_PDF' | translate}}</button>
        <button class="btn btn-success pull-left mr1 btn-sm" nbTooltip="Refresh" nbTooltipStatus="success"
            [nbTooltipIcon]="{icon: 'refresh-outline', pack: 'eva'}" (click)="refresh()"><i
                class="fa fa-sync"></i></button>
    </div>
    <div class="col-md-4 ml-auto text-right">
        <div class="form-group">
            <button class="btn btn-warning btn-sm" (click)="addDriver()"><b>+ {{'FLEET_MANAGEMENT.DRIVERS_LIST_COMPONENT.ADD_DRIVER' | translate}}</b></button>
        </div>
    </div>
</div>


<div>
    <div class="example-container mat-elevation-z8" id="content" #content>
        <div class="table-responsive" style="height: 500px;overflow: auto !important;">
            <table matTableExporter #exporter="matTableExporter" [hiddenColumns]="[5]" class="table-bordered table"
                mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="user_id">
                    <th class="bg-primary !important ml15" mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                    <td mat-cell *matCellDef="let element; let i = index;"> {{(i+1)}}
                    </td>
                </ng-container>

                <!-- <ng-container style="border-radius: 50%;" matColumnDef="profile_image">
                    <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
                    <td class="cellSpace" mat-cell *matCellDef="let element"><img src="{{element.profile_image}}"></td>
                </ng-container> -->

                <ng-container matColumnDef="nick_name">
                    <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{'FLEET_MANAGEMENT.DRIVERS_LIST_COMPONENT.NICK_NAME' | translate}}
                    </th>
                    <td class="cellSpace" mat-cell *matCellDef="let element">
                        <a (click)="driverDetail(element.user_id)"
                            style="cursor: pointer;text-decoration: underline;color: blue;">{{element.nick_name}}</a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="mobile">
                    <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header> 
                        {{'FLEET_MANAGEMENT.DRIVERS_LIST_COMPONENT.MOBILE_NUMBER' | translate}}
                    </th>
                    <td class="cellSpace" mat-cell *matCellDef="let element"> {{element.mobile}} </td>
                </ng-container>

                <ng-container matColumnDef="trip_count">
                    <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{'FLEET_MANAGEMENT.DRIVERS_LIST_COMPONENT.TRIP_COUNT' | translate}}
                    </th>
                    <td mat-cell class="cellSpace" *matCellDef="let element"> {{element.trip_count}} </td>
                </ng-container>

                <ng-container matColumnDef="driver_vehicle_list">
                    <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header> 
                        {{'FLEET_MANAGEMENT.DRIVERS_LIST_COMPONENT.DRIVING_VEHICLE' | translate}}
                    </th>
                    <td mat-cell class="cellSpace" *matCellDef="let element">
                        <!-- <mat-select class="form-control">
                            <mat-option *ngFor='let row of vehicles' [value]="row.device_link_id">
                                {{row.vehicle_number}}</mat-option>
                        </mat-select> -->
                        -
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th class="bg-primary !important" mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{'FLEET_MANAGEMENT.DRIVERS_LIST_COMPONENT.ACTIONS' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <a><i class="fa fa-eye text-blue " (click)="driverDetail(element.user_id)"
                                style="cursor: pointer;color: black;"></i></a><b> |
                        </b><a><i class="fa fa-edit text-blue " (click)="edit(element.user_id)"
                                style="cursor: pointer;color: blue;"></i></a><b> |
                        </b><a><i class="fa fa-trash-alt" (click)="deleteModel(element.user_id,element.nick_name)"
                                style="cursor: pointer;color: red;"></i></a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

            <div class="col-md-12" *ngIf="TableDataNotshow">
                <p class="datanotfound">{{'DATA_NOT_FOUND_TITLE' | translate}}</p>
            </div>

        </div>
    </div>
</div>
