.text-blue {
    color: #0b46ae !important;
    margin-bottom: 5px;
}

.active img {
    border: solid 2px #3576ea;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}

.group-data-imgbox {
    height: 180px;
    width: 120px;
    margin: 20px;
}

/*Checkboxes styles*/

.boxes {
    margin: auto;
    float: right;
    margin-top: 5px;
}

input:checked {
    height: 20px;
    width: 20px;
}
input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

.buy-plans:hover .img {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}

.buy-plans .img {
    left: 0%;
    line-height: 180px;
    text-align: center;
    text-transform: uppercase;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: white;
}

.buy-plans {
    margin: 0px 0px;
    padding: 0px;
    border: solid 1px #e2e2e2;
    border-radius: 10px;
    transition: 0.5s;
}

.buy-plans h3 {
    background: #e2e2e2;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
}

.buy-plans:hover,
.list-item:hover {
    box-shadow: 0px 0px 10px #7c7c7c;
}

.responsive {
    width: 80%;
    height: 45%;
    border-radius: 50%;
}

.white-bg {
    background: #fff;
    border: solid 1px #ddd;
}

.plans-data {
    padding: 11px 15px;
    min-height: 62px;
    /* border-bottom: solid 1px #e2e2e2;*/
}

.plans-data p,
.plans-data h4 {
    margin-bottom: 0px;
    padding: 0px 10px;
}

.plans-data h4 {
    font-size: 16px !important;
}

.plans-data h5 {
    margin-bottom: 5px;
    overflow: hidden;
    padding: 0px 15px;
}

.plans-data i {
    font-size: 16px;
}
.text-right {
    text-align: right !important;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left;
}

.bg-gray {
    background-color: #ccc !important;
    padding: 15px;
    border-radius: 6px 6px 0px 0px;
}

p,b,h4,h6,label{
    color:black !important;
  }