.circle {
    border-radius: 50% !important;
    overflow: hidden;
    width: 78px;
    height: 78px;
    border: 2px solid #0b46ae;
    margin: 0 auto;
    margin-bottom: 20px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }
  .p-image {
    position: relative;
    left: 48.5%;
    top: -40px;
    font-size: 16px;
    text-align: center;
    color: #242424;
    background: #febe40;
    border-radius: 50%;
    padding: 10px;
    height: 40px;
    width: 40px;
    transition: all .3s;
    margin-bottom: 20px;
}

.p-image:hover {
    transition: all .3s;
    color: #0b46ae;
}

.img-row{
    margin-bottom: -4.5rem!important;
}
.required{
    color: red;  
}
label{
    font-weight: bold;
}
.mrleftright{
    margin-left: 10px;
    margin-right: 10px;
}

// table row hover effect 

tr:hover {
    background-color: #b3f0ff;
  }

  .imgcrop {
    display: flex;
    position: relative;
    width: 80%;
    max-width: 108%;
    max-height: 138%;
    overflow: hidden;
    padding: 0px;
    text-align: center;
  }
  
  .model-resize-outviwe {
    margin-top: 70px;
    max-width: 650px;
  }
  
  .model-resize {
    height: 450px;
    width: 650px;
    margin-left: -110px;
  }

  h4 {
    color: #0a0a0a !important;
  }